.sidenav {
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 55px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
}

.sidenav p {
  font-family: 'CG', sans-serif;
  margin: auto;
  padding: 8px;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}
